.wrapper {
  display: flex;
  height: 800px;
  margin: 20px;
  width: calc(100% - 40px);
}

.list {
  background-color: blue;
  color: pink;
  font-size: 5em;
  height: 100%;
  margin-right: 20px;
  width: 300px;
}

.listHeader {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actionButtons {

}

.header {
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.toggleSidebar {
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
}

h4 {
  margin: 0;
}
