.wrapper {
  display: flex;
  margin: 84px 8px 8px 8px;
  width: calc(100% - 40px);
  user-select: none;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

.list {
  border-radius: 3px;
  max-height: 100%;
  margin: 0 4px;
  width: 272px;
}

.listHeader {
  padding-bottom: 6px;
}

.addListHeader {
  text-align: left;
  background-color: rgba(160, 160, 160, 0.24);
  border-radius: 3px;
  color: #172b4d;
  cursor: pointer;
  font-weight: 500;
  padding: 10px;
}

.addListHeader:hover {
  background-color: rgba(160, 160, 160, 0.70);
}

.listContent {
  border-radius: 3px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
}

.note {
  background-color: #fafbfc;
  font-size: 14px;
  margin: 5px;
  border-radius: 3px;
}

.note:hover {
  background-color: #f5f6fa;
}

.actionButtons {
  cursor: pointer;
  margin-right: 10px;
}

.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,.32);
}

.headerButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4px;
  user-select: none;
}

.headerButton {
  cursor: pointer;
  height: 30px;
  min-width: 30px;
  color: white;
  font-weight: 600;
  padding: 1px;
  margin-right: 4px;
  background-color: hsla(0,0%,100%,.3);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.boardHeaderButton {
  cursor: pointer;
  height: 30px;
  min-width: 30px;
  color: #172b4d;
  font-weight: 600;
  padding: 1px;
  background-color: rgba(0,0,0,.08);
  margin-right: 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.headerButton:hover, .boardHeaderButton:hover {
  background-color: grey;
}

.boardHeader {
  height: 40px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  background: transparent;
}
